-
  name: Install Nginx And Start And Deploy Static Webpage
  hosts: servers
  become: true
  tasks:
    - name: Install Nginx
      apt:
        name: nginx
        state: latest

    - name: Start Nginx
      service:
        name: nginx
        state: started
        enabled: yes

    - name: Deploy Webpage
      copy:
        src: index.html
        dest: /var/www/html