- name: Install Nginx And Start Nginx
  hosts: servers
  become: true
  tasks:
    - name: Install Nginx
      apt:
        name: nginx
        state: latest
        update_cache: yes

    - name: Start Nginx
      service:
        name: nginx
        state: started
        enabled: yes